<link rel="import" href="../polymer/polymer-element.html" />
<link rel="import" href="../convocatorias-plenaria-tabla-head/convocatorias-plenaria-tabla-head.html" />
<link rel="import" href="../ug-grid-plenaria/ug-grid-plenaria.html" />

<dom-module id="convocatorias-plenaria-tabla">
  <template>
    <style>
      :host {
        display: block;
        padding: 0.5rem;
      }
    </style>

    <convocatorias-plenaria-tabla-head id-convocatoria="[[idConvocatoria]]" id-modalidad="{{idModalidad}}"
      promedio-aprobatorio="{{promedioAprobatorio}}" monto-aprobado="{{montoAprobado}}" desarrollo="[[desarrollo]]"
      produccion="[[produccion]]"></convocatorias-plenaria-tabla-head>
    <ug-grid-plenaria id-convocatoria="[[idConvocatoria]]" id-modalidad="{{idModalidad}}"
      promedio-aprobatorio="{{promedioAprobatorio}}" sum-aprobado="{{montoAprobado}}" desarrollo="[[desarrollo]]"
      produccion="[[produccion]]"></ug-grid-plenaria>
  </template>

  <script>
    /**
     * `convocatorias-plenaria-tabla`
     *
     */
    class ConvocatoriasPlenariaTabla extends Polymer.Element {
      static get is() {
        return 'convocatorias-plenaria-tabla';
      }
      static get properties() {
        return {
          idConvocatoria: Number,
          idModalidad: {
            type: Number,
            value: 0,
          },
          isDetalle: {
            type: Boolean,
            value: false,
          },
          promedioAprobatorio: Number,
          montoAprobado: Number,
          desarrollo: { type: Boolean, value: false },
          produccion: { type: Boolean, value: false },
        };
      }
    }

    window.customElements.define(ConvocatoriasPlenariaTabla.is, ConvocatoriasPlenariaTabla);
  </script>
</dom-module>